* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

ul {
    flex-direction: row;
    padding: 0px;
    /* margin: 30px; */
    width: 100%;
    justify-content: space-between;
    margin: 15px;
}

.main_index {
    background-image: url(imagenes/deporte.jpg);
    filter: revert;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 88%;
   
}

h1 {
    color: darkslategrey;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    filter: drop-shadow(2px 4px 6px black);

}

body {
   margin: 0%;
}